In [51]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [52]:
# load data as dataframe
df = pd.read_csv('../datasets/banana.csv')
X = np.array(df['At2']).reshape(-1, 1)
y = np.array(df['classlabel']).reshape(-1, 1)

In [53]:
# show the first n rows
df.head(n=10)

     At1     At2  classlabel
0  1.140 -0.1140        -1.0
1 -1.520 -1.1500         1.0
2 -1.050  0.7200        -1.0
3 -0.916  0.3970         1.0
4 -1.090  0.4370         1.0
5 -0.584  0.0937         1.0
6  1.830  0.4520        -1.0
7 -1.250 -0.2860         1.0
8  1.700  1.2100         1.0
9 -0.482 -0.4850         1.0

In [54]:
# statistics
df.describe()

               At1          At2   classlabel
count  5300.000000  5300.000000  5300.000000
mean      0.000016     0.000018    -0.103396
std       0.999880     1.000038     0.994734
min      -3.090000    -2.390000    -1.000000
25%      -0.753250    -0.914000    -1.000000
50%      -0.015250    -0.037200    -1.000000
75%       0.782000     0.822500     1.000000
max       2.810000     3.190000     1.000000

In [55]:
# data shape
print('Shape: ', df.shape)

Shape:  (5300, 3)

In [56]:
# Normalize
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.4, random_state=42)

In [57]:
clf = SVC(C=100.0,gamma=30, kernel='rbf')
clf.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=100.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=30, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [48]:
# predict label
y_pred = clf.predict(X_test)

In [49]:
confusion_matrix(y_test, y_pred)

array([[910, 260],
       [364, 586]])

In [50]:
acc = accuracy_score(y_test, y_pred)
print('Accuracy =', acc)

Accuracy = 0.7056603773584905

In [29]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

        -1.0       0.71      0.68      0.69      1170
         1.0       0.62      0.66      0.64       950

   micro avg       0.67      0.67      0.67      2120
   macro avg       0.67      0.67      0.67      2120
weighted avg       0.67      0.67      0.67      2120

In [30]:
plt.figure(dpi=100)
plt.scatter(X[:, 0], X[:, 1], c=y, zorder=10, cmap=plt.cm.Paired, edgecolor='k', s=20)
# Circle out the test data
plt.scatter(X_test[:, 0], X_test[:, 1], s=80, facecolors='none', zorder=10, edgecolor='k')

plt.axis('tight')
x_min = X[:, 0].min()
x_max = X[:, 0].max()
y_min = X[:, 1].min()
y_max = X[:, 1].max()

XX, YY = np.mgrid[x_min:x_max:200j, y_min:y_max:200j]
Z = clf.decision_function(np.c_[XX.ravel(), YY.ravel()])
Z = Z.reshape(XX.shape)

plt.pcolormesh(XX, YY, Z > 0, cmap=plt.cm.Paired)
plt.contour(XX, YY, Z, colors=['k', 'k', 'k'],
                linestyles=['--', '-', '--'], levels=[-.5, 0, .5])

IndexError: index 1 is out of bounds for axis 1 with size 1