In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans as KM
from matplotlib import pyplot as plt
from skfuzzy.cluster import cmeans

In [2]:
df = pd.read_csv('ecoli.csv')

In [3]:
Site_mapping = {
        'cp': 1, 'im': 2, 'imS': 3,'imL': 4,
        'imU': 5, 'om': 6,'omL': 7, 'pp': 8
                   }
df['Site'] = df['Site'].map(Site_mapping)
X=df.iloc[:,:7]
y=df['Site']

In [4]:
df.head(10)

    Mcg   Gvh   Lip  Chg   Aac  Alm1  Alm2  Site
0  49.0  29.0  48.0  5.0  56.0  24.0  35.0     1
1   7.0   4.0  48.0  5.0  54.0  35.0  44.0     1
2  56.0   4.0  48.0  5.0  49.0  37.0  46.0     1
3  59.0  49.0  48.0  5.0  52.0  45.0  36.0     1
4  23.0  32.0  48.0  5.0  55.0  25.0  35.0     1
5  67.0  39.0  48.0  5.0  36.0  38.0  46.0     1
6  29.0  28.0  48.0  5.0  44.0  23.0  34.0     1
7  21.0  34.0  48.0  5.0  51.0  28.0  39.0     1
8   2.0  44.0  48.0  5.0  46.0  51.0  57.0     1
9  42.0   4.0  48.0  5.0  56.0  18.0   3.0     1

In [5]:
pca = PCA(n_components=2)

In [6]:
X=pca.fit_transform(X)

In [9]:
df.dtypes

Mcg     float64
Gvh     float64
Lip     float64
Chg     float64
Aac     float64
Alm1    float64
Alm2    float64
Site      int64
dtype: object